/* COLORS

#2E363E - BOLD TEXT
#434B53 - Simple text
#FAFAFA - Background

#5F0A61 - COLOR Without focus
#8E0292 - Hover - Focus color


*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* MAIN */

.container {
  width: 1180px;
}

.tarif-conatiner{
  width: 1177px;
}

